
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>SEO Dream - Creative SEO HTML5 Template by TemplateMo</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->
<style>
    .about
    {
        text-align: justify;
    }
</style>

</head>

<body>
  

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
 
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            
            <a href="{% url 'home' %}" class="logo">
              <h4>Gram Panchayat</h4>
            </a>
            
            
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'home' %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'about' %}">About</a></li>
              <li class="scroll-to-section"><a href="{% url 'register' %}">Register</a></li>
              <li class="scroll-to-section"><a href="{% url 'loginpage' %}">Login</a></li>
              <li><div id="google_translate_element"></div>

                <script type="text/javascript">
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                  }
                </script>
  
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
            
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  

  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h1>GRAM PANCHAYAT MANAGEMENT SYSTEM</h1>
            <p class="about">Most of the schemes introduced by the Government go into dustbin just because the officials who implement the schemes could not make them available to suitable people. So there is a secured and transparent system needed which enable an ordinary person to directly apply for a scheme and track the status from time to time and know whether he is entitled to receive the fruit or his application is rejected by the officials. In any case, the applicant should be able to know the reason for rejection openly. This catches trust in the Government from the people and avoids mis-utilization of funds.

                Government Scheme Management System is a software application to automate the process for utilization of various schemes provided by government for various panchayats. Government Scheme Management System Software takes care of the activities related to the schemes provided by the government. The major responsibility is to take care of the proper utilization of different schemes in a transparent way.
                
                This system clearly keeps track of the status of user’s application by tracking the actual activities that are under process within the panchayat or at higher level at any point of time, by the administrators. This system provides effective way to manage the important information in a very secure manner by authenticating users at various levels.
                
                This system design is modularized into various categories covering the internal official management concepts associated with the information of the panchayats and user applications with different levels of abstraction. 
                
                This system has very good GUI so that a novice user did not feel any operational difficulties. This system mainly concentrated in designing various reports requested by the users as well as higher authorities such as Scheme wise details report, Panchayat wise details report, User wise report etc.
                
                When the user applies for a scheme, his details will be stored in the database and sent to the panchayat for verification. Panchayat people conduct a physical verification and sends their remarks to the DDO who would write his comments. These details are sent to final approving authority and help him to approve or disapprove the person for the scheme. The same details can be viewed by the user so that the user would get a clear picture of what is happening from time to time.
                </p>
                <div class="features-content">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                          <div class="first-number number">
                            <img src="static/images/ab1.jpg" height="300px"/>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                          <div class="second-number number">
                            <img src="static/images/ab2.jpg" height="300px"/>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                          <div class="third-number number">
                            <img src="static/images/ab3.jpg" height="300px"/>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                          <div class="fourth-number number">
                            <img src="static/images/ab4.jpg" height="300px"/>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
          
        </div>
      </div>
    </div>
  </div>

  
  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>