
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>SEO Dream - Creative SEO HTML5 Template by TemplateMo</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->
<style>
  .main-container
  {
    position: relative;
    top:100px;
    padding:20px;
  }
  p
  {
    padding:5px;
  }
</style>

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home' %}" class="logo">
              <h4>Gram Panchayat</h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'user_page' %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'user_scheme' request.session.emailid %}">View Schemes</a></li>
              <li class="scroll-to-section"><a href="{% url 'home' %}">Logout</a></li>
              <li><div id="google_translate_element"></div>

                <script type="text/javascript">
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                  }
                </script>
  
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-container">
    <h1>welcome to {{ request.session.emailid }}</h1>
    <p>Gram Panchayat ( transl. 'Village council') is a basic village-governing institution in Indian villages. It is a democratic structure at the grass-roots level in India. It is a political institution, acting as cabinet of the village. The Gram Sabha work as the general body of the Gram Panchayat.Established in various states of India, the Panchayat Raj system has three tiers: Zila Parishad, at the district level; Panchayat Samiti, at the block level; and Gram Panchayat, at the village level. Rajasthan was the first state to establish Gram Panchayat, Bagdari Village (Nagaur District) being the first village where Gram Panchayat was established, on 2 October 1959.

      The failed attempts to deal with local matters at the national level caused, in 1992, the reintroduction of Panchayats for their previously used purpose as an organisation for local self-governance.</p>
  </div>
  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>